<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Home Page</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Mark Tyers">
		<link href="{{host}}/style.css" type="text/css" rel="stylesheet" />
		<script type="module" src="main.js"></script>
	</head>
	<body>
		<header>
			<h1>Customer Hub</h1>
		</header>

		<main>
			  <table>
					<thead>
						<tr>
							<th>Issue</th>
							<th>Status</th>
						</tr>
					</thead>
					<tbody>
						{{#each issues}}
						<tr>
							<td>{{this.issue}}</td>
							<td>
									<select required name="status">
										<option value="">--Choose--</option>
										<option value="unassigned">unassigned</option>
										<option value="in progress">in progress</option>
										<option value="resolved">resolved</option>
								</select>
							</td>
						</tr>
						{{/each}}
					</tbody>
			</table>
		</main>
		
	</body>
</html>